<div class="blog-content">
    <div class="container">
        <div class="date-created">13 / 08 / 2020</div>
        <div>
            <img class="image-class" src="assets/test-1.png">
        </div>
        
        <div class="headline">Jeremiah Crampatanta First Portfolio Website</div>
        <div class="content">{{this.content | ellipsis : 300}}</div>
        <div class="name"><i  class="fa fa-circle" aria-hidden="true"></i> <a class="name-text" href="#">  Jeremiah Crampatanta</a></div>
    </div>
    
</div>

<!-- <div>tags</div> -->
