<footer class="footer">
    <div class="content footer-text row"> 
        <div class="col align">
            Copyright © <a class="name-text" href="#">Jeremiah Crampatanta</a> 2020 • All rights reserved. Privacy Policy 
        </div>
        

        <div class="col">
            <ul>
                <li><a class="fb" href="https://www.facebook.com/joc4114" target="_blank"><i  class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
                <li><a class="twt" href="https://www.twitter.com/jerecramps" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
                <li><a class="in" href="https://www.linkedin.com/in/jeremiah-crampatanta-b61044184/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
                <li><a class="git" href="https://www.github.com/jerecramps" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</footer>