<header></header>
<generic-content></generic-content>

<!-- sample for the customized content
<generic-content>
    <div class="body-content">
    Want to see me at your conference or event? Feel free to contact me at any time.

           I prefer to attend and speak at conferences that are actively working on improving diversity throughout all aspects of the conference. From attendees, to speakers, to marketing of the conference, it must be inclusive to everyone. Ashe Dryden has a great article on how to increase diversity at your conference.
           
           I have a set of guidelines for conferences before I start discussing presenting or attending. I want to thank Karolina Szczur for her awesome set of guidelines which I was inspired by and for which some I have taken word for word.</p>

   </div>
</generic-content> -->
